<div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>Contacts List</h2>
    </div>
    <div class="col-md-3 offset-md-3 col-sm-12">
      <a href="contacts/new" class="btn  btn-primary btn-block">CREATE CONTACT</a>
    </div>
  </div>

  <div class="row">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contacts">
      <thead>
        <tr>
          <th (click)="loadPage(page, sortBy =='contactName' ? 'contactName-' : 'contactName');">
            Name <small>{{sortBy && sortBy.includes('contactName') ? (sortBy =='contactName' ?  'A' : 'D') : ''}}</small> </th>
          <th (click)="loadPage(page, sortBy =='contactType' ? 'contactType-' : 'contactType');">
            Type <small>{{sortBy && sortBy.includes('contactType') ? (sortBy =='contactType' ?  'A' : 'D') : ''}} </small> </th>
          <th (click)="loadPage(page, sortBy =='contactPhone' ? 'contactPhone-' : 'contactPhone');">
            Phone <small>{{sortBy && sortBy.includes('contactPhone') ? (sortBy =='contactPhone' ?  'A' : 'D') : ''}} </small> </th>
          <th (click)="loadPage(page, sortBy =='contactBirth' ? 'contactBirth-' : 'contactBirth');">
            Birth <small>{{sortBy && sortBy.includes('contactBirth') ? (sortBy =='contactBirth' ?  'A' : 'D') : ''}} </small> </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.name }}</td>
          <td>{{ contact.contactType.name }}</td>
          <td>{{ contact.phone  | mask: '(000) 000-0000' }}</td>
          <td>{{ contact.birth | date: 'yyyy-MM-dd' }}</td>
          <td><a class="btn btn-primary" href="/contacts/{{contact.contactId}}">EDIT</a></td>
          <td><button class="btn btn-primary" (click)="delete(contact.contactId)">DELETE</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <ngb-pagination *ngIf="contacts"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="listTotal"
                  (pageChange)="loadPage($event)"></ngb-pagination>

</div>
