<div>
  <div class="row">
    <div class="col-md-6">
      <h2>{{(!contactId) ? 'Create Contact' : 'Update Contact'}}</h2>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-contact-header [contactId]="contactId" [isEdition]="true" (messageEvent)="receiveMessage($event)"></app-contact-header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-8 col-sm-12">
      <button class="btn btn-primary btn-block" (click)="save()">SAVE</button>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Alert</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="_modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        {{message}}
      </p>
    </div>
  </ng-template>
</div>
