<div>
  <div class="row">
    <div class="col-md-6">
      <h2>{{(!contactId) ? 'Create Contact' : 'Update Contact'}}</h2>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-contact-header [contactId]="contactId" [isEdition]="true" (messageEvent)="receiveMessage($event)"></app-contact-header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="save()">SAVE</button>
    </div>
  </div>
</div>
