a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  background-color:white;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;    
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
  background-image: url('https://images.pexels.com/photos/3560168/pexels-photo-3560168.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 150px;
}

.navbar-nav{
    background-color: white;
}

